h1 {
    color: #ffffff;
    text-align: center;
}

:root {
    background-color: #212121;
    font-family: Calibri;
}

.time {
    color: #ffffff;
    text-align: center;
}

.container {
    width: 40%;
    margin: auto;
    background-color: #313541;
    padding: 30px;
}

button {
    background-color: #313541;
    border-radius: 5px;
    padding: 20px, 10px;
    color: white;
    border-color: white;
    border-style: solid;
}

button:active {
    background-color: #00ffaa;
    border-color: #00ffaa;
}
